*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu{
    padding: 15px;
    padding-top: 40px;
    text-align: justify;
    background-color: #d2dcc7;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 15px;


}
.menu a:hover{
    text-decoration: none;
    background-color: #efefdd;
    font-weight: bolder;
    
}
.tituloProdutos{
    margin-top: 0px;
    background-color: #efefdd;
    font-weight: bolder;
    padding: 15px;
}
.tituloProdutosDois{
    margin-top: 0px;
    background-color: #cccca7;
    font-weight: bolder;
    padding: 15px;
}
.tituloDois{
    padding: 65px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 30;
}


.imagemProdutos{
    padding:30px;
    padding-left: 50px;
    padding-bottom: 50px;
    display: flex;
    text-align: center;
    max-width: 350px;
    transition: all 1.0s;
    cursor: pointer;

}
.imagemProdutos:hover{
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}


.tituloDois button{
    color:#6680b3;
}
.filmes{
    padding:30px;
    display: flex;
}
.filmeHobbit{
    padding: 25px;
    display:flex;
    max-width: 100px;
}

.tituloFilme{
    padding: 55px;
    padding-left: 15px;
    padding-right: 40px;
    max-width: 350px;

}
.tituloFilme button{
    color:#6680b3;
}
body{
    background-color: rgba(240, 248, 255, 0.725);
    background-size: auto;
}
.atuaTitulo{
    margin-top: 0px;
    background-color: #cccca7;
    font-weight: bolder;
    padding: 15px;
}
.textoAtua{
    padding: 15px;
    margin: 10px;
    background-color: #e2e2a5;
    border-radius: 10px;
    display: flex;

}
.imgSerie{
    padding: 15px;
    margin: auto;
    float: right;
}
.serie{
  color: black;
  font-size: large;
  padding: 15px;
  padding-top: 0px;
  text-align: left;
  display: flex;
}
.serie img{
    padding: 15px;
    height: 350px;
    width: 500px;
}
